.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin-bottom: 8px;
}

.tab-link {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
    transition: 0.3s;
}

.tab-link:hover {
    background-color: #ddd;
}

.tab-link-active {
    background-color: #ddd;
}

.tab-content {
    display: none;
}

.item-table {
    width: 100%;
}

.item-table, th, td {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

td {
    padding: 0 1em 0 1em;
}

.perk {
    display: inline-block;
}

.good {
    background-color: lime;
    color: black;
}

.ok {
    background-color: yellow;
    color: black;
}

.bad {
    background-color: red;
    color: white;
}

.comparison-equivalent {
    display: inline-block;
    background-color: #DDDDDD;
    color: black;
}

.comparison-better {
    display: inline-block;
    background-color: lime;
    color: black;
}

.comparison-worse {
    display: inline-block;
    background-color: red;
    color: white;
}