.item-table {
    width: 100%;
}

.item-table, th, td {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.perk {
    display: inline-block;
}

.good {
    background-color: lime;
    color: black;
}

.ok {
    background-color: yellow;
    color: black;
}

.bad {
    background-color: red;
    color: white;
}