.scroll-container {
    overflow: auto;
    word-wrap: normal;
    height: 360px;
    background-color: #EEE;
}

.split-content-container {
    display: flex;
}

.list-container {
    flex-grow: 1;
}

.good {
    background-color: lime;
    color: black;
}

.ok {
    background-color: yellow;
    color: black;
}

.bad {
    background-color: red;
    color: white;
}